{% extends 'admin/admin_base.html' %}

{% block content %}
  <h1>Confirm Deletion</h1>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Confirm Deletion</h5>
      <p class="card-text">Are you sure you want to delete the banner image?</p>
      <img src="{{ object.image.url }}" alt="Banner Image" width="400" height="150">
      <br><br>
      <p class="card-text">Product: {{ object.product }}</p>
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'product_banner_list' %}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}
