{% extends 'admin/admin_base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <h1 class="text-success">Product Variations</h1>
    
    <div class="float-end"><a class="btn btn-success text-white" href="{% url 'add_product_variation' product.id %}">Add New Variation</a></div>
    <br><br>
    <table class="table table-striped table-hover table-warning">
        <thead class="thead-dark">
            <tr>
                <th>Product</th>
                <th>Frame Size</th>
                <th>Color</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for variation in product_variations %}
            <tr>
                <td>{{ variation.product }}</td>
                <td>{{ variation.frame_size }}</td>
                <td>{{ variation.color }}</td>
                <td>{{ variation.stock }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'edit_product_variation' variation.pk %}">Add stock</a>
                    <a class="btn btn-danger" href="{% url 'delete_product_variation' variation.pk %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
