{% load static %}

<header class="section-header">
<nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
<div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTop4">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
      <a href="#" class="nav-link">   English </a>
    </li>
    <li class="nav-item dropdown">
      <a href="#" class="nav-link"> IND </a>
      <ul class="dropdown-menu small">
        <li><a class="dropdown-item" href="#">EUR</a></li>
        <li><a class="dropdown-item" href="#">AED</a></li>
        <li><a class="dropdown-item" href="#">RUBL </a></li>
        </ul>
    </li>
    </ul>
    <ul class="navbar-nav">
    <li><a href="#" class="nav-link"> <i class="fa fa-envelope"></i> Email </a></li>
    <li><a href="#" class="nav-link"> <i class="fa fa-phone"></i> Call us </a></li>
  </ul> <!-- list-inline //  -->
  </div> <!-- navbar-collapse .// -->
</div> <!-- container //  -->
</nav>

<style>
  /* Add your custom CSS styles here */
  .navbar:not(.navbar-expand-sm) {  /* Exclude the second navbar from this style */
    background: rgb(40,200,48);
    background: linear-gradient(90deg, rgba(40,200,48,1) 0%, rgba(2,0,36,1) 60%);  
  }
  .navbar-brand {
    color: white;
    font-size: 24px;
  }
  .navbar-toggler {
    border: none;
  }
  .navbar-toggler-icon {
    background-color: white;
  }
  .nav-link {
    color: white;
  }
</style>


<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img class="logo" src="{% static 'img/logo1.jpg' %}" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'store' %}">Store</a>
        </li>

        <li class="nav-item">
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="categoryDropdown">
              <a href="{% url 'store' %}" class="dropdown-item">All Categories</a>
              {% for category in categories %}
                <a href="{% url 'store' %}?category={{ category.category_name }}" class="dropdown-item">{{ category.category_name }}</a>
              {% endfor %}
            </div>
          </div>
        </li>
        <div class="nav-links-container">
          <li class="nav-item">
            <form action="{% url 'search' %}" class="form-inline my-2 my-lg-0">
              <div class="d-flex flex-column flex-sm-row">
                <input class="form-control mb-2 mb-sm-0 mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>                        
            </form>
          </li>
        </div>
        <li class="nav-item">
          <div class="nav-links-container"> <!-- Wrap both buttons in a container -->
              {% if user.id is None %}
              <a class="nav-link" href="{% url 'login' %}">Sign In</a>
              {% else %}
              <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Welcome, {{ user.username }}!
                  </a>
                  <div class="dropdown-menu" aria-labelledby="userDropdown">
                      <!-- Dropdown menu items -->
                      <a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a>

                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'user_profile' %}">Profile</a>
                      <a class="dropdown-item" href="{% url 'resetPassword' %}">Change Password</a>
                      <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                      <!-- Add other dropdown items if needed -->
                  </div>
              </div>
              <a href="{% url 'wishlist' %}" class="widget-header pl-3">
                <div class="icon icon-sm rounded-circle "><i class="fa fa-heart"></i></div>
                <span class="badge badge-pill badge-danger notify">{{wishlist_count}}</span>
              </a>
              {% endif %}
              <a href="{% url 'cart' %}" class="widget-header pl-3">
                <div class="icon icon-sm rounded-circle "><i class="fa fa-shopping-cart"></i></div>
                <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
              </a>
          </div>
      </li>
      

      </ul>
    </div>
  </div>
</nav>

</header> <!-- section-header.// -->

<style>
  /* Add this CSS to your stylesheet */
.nav-links-container {
    display: flex;
    align-items: center;
}

.nav-link {
    margin-right: 15px; /* Adjust spacing between buttons */
}

</style>