{% extends 'user/user_base.html' %}
{% block content %}

{% include 'includes/alerts.html' %}
    <div class="container mt-5">
        {% comment %} <h1>Add Wallet</h1> {% endcomment %}
        <form method="post">
            {% csrf_token %}
            {% if wallet %}
            <button type="submit" class="btn btn-primary btn-lg">View Wallet</button>
            {% else %}
            <button type="submit" class="btn btn-primary btn-lg">Create Wallet</button>
            {% endif %}
            {% comment %} <a href="{% url 'update_wallet' %}" class="btn btn-primary">Add Money</a> {% endcomment %}
            <a href="{% url 'redeem_coupon' %}" class="btn btn-success btn-lg">Redeem Coupon</a>
        </form>
    </div>

{% endblock %}